.maingrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 0.75rem;     */
    width: 100vw;
    height: 100vh;
}

.grid-row-span-2 {
    grid-row: span 2;
}
iframe {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.maingrid:nth-child(2) {
    background-color: black;
}