.maingrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0.5rem;
    width: 100vw;
    height: 100vh;
}

.grid-row-span-2 {
    grid-row: span 2;
}
.grid-col-span-3 {
    grid-column: span 3;
}
.grid-col-span-4 {
    grid-column: span 4;
}
iframe {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.maingrid:nth-child(2) {
    background-color: black;
}