button{
    background-color: gray;
    color: white;
    padding: 2rem;
    border: none;
    border-radius: 1.3rem;
    font-size:18px;
    margin: 0.5rem;
}
button:hover {
    background-color: black;
    transform:translateY(-5px);
    transition-duration: 250ms;
    box-shadow: 0px 15px #00000010;
        
}