.main-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
} 
.main-box-el1 {
 flex-basis: 33.33%;
  text-align: center;
}
.main-box-el2 {
 flex-basis: 66.66%;
  text-align: center;
}
body {
  width: auto;
}
table {
  margin-left: 1rem;
  border: 0.2rem solid black;
  width: 100vw;
}
tr,td,th {
  border: 0.2rem solid black;
  padding: 0.5rem
}
